body {
  background-color: #98FB98;
  color: #000000;
  text-align: center;
}

table.center {
   margin-left: auto;
   margin-right: auto;
 }

div {
  text-align: center;
  word-wrap: break-word;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
 }
